{% extends "base.html" %}

{% block title %}Invitations Already Sent{% endblock %}

{% block body %}
<h1>Invitations Already Sent</h1>

<p>Invitations have already been sent for {{uni}}. If you believe this was
done in error, click the button below to email the administrator.</p>

<form action="/feedback" method="POST">
  <input type="hidden" name="uni" value="{{uni}}"/>
  <input type="hidden" name="message" value="Invitations sent erroneously."/>
  <p class="submit"><input type="submit" value="Send Error Report"/></p>
</form>
{% endblock %}
