{% extends "base.html" %}

{% block title %}Senior Coffee Scramble{% endblock %}

{% block body %}
  <h1>Senior Coffee Scramble</h1>
  <p>
    Hey Seniors! Thinking about how little time you have left here and how many
    amazing people you wish you had talked to? Well, here's your chance!
    Enter the UNIs of other seniors you've always wanted to sit down and chat
    with but never quite got the chance to below, and we'll send them an email.
  </p>
  {% if error %}
    <p id="error-message">
      You must fill in your name, your UNI, and the UNI of at least one invitee.
    </p>
  {% endif %}
  <form id="invite-form" action="/invite" method="post">
    <input type="hidden" name="csrf-token" value="{{csrf-token}}"/>
    <p>Your Name: <input type="text" name="name"/></p>
    <p>Your UNI:  <input type="text" name="uni"/></p>
    <p>Put the UNIs of the people you'd like to invite below.
       You can also leave a short message (&lt; 140 characters)
       for each invitee.</p>
    <ul>
      {% for i in numrange %}
        <li>
          UNI: <input class="uni" type="text" name="invitee{{i}}"/>
          Message: <input class="message" type="text" name="message{{i}}"/>
        </li>
      {% endfor %}
    </ul>
    <p id="submit-button"><input type="submit" value="Invite"/></p>
  </form>
{% endblock %}
