<html>
  <body>
    <p>
      Greetings from Senior Coffee Scramble. The following people would like to
      grab coffee/tea/food/whatever with you and get to know you better.
    </p>
    <ul>
      {% for invite in invitations %}
        <li>
          <a href="mailto:{{invite.uni}}@columbia.edu"/>
            {{invite.name}} ({{invite.uni}})</a>
            {% if invite.message %}
              - &quot;{{invite.message}}&quot;
            {% endif %}
        </li>
      {% endfor %}
    </ul>
  </body>
</html>
