{% extends "base.html" %}

{% block title %}Invitations Recorded{% endblock %}

{% block body %}
<h1>Invitations Recorded</h1>

<p>Your invitations have been recorded. An email has been sent to you
at {{uni}}@columbia.edu with a confirmation link. Once you have
confirmed these invitations, we will begin emailing your invitees.</p>

<p>If you do not see your email in a timely manner, press the button below
to resend.</p>

<form action="/resend" method="POST">
    <input type="hidden" name="uni" value="{{uni}}"/>
    <input type="hidden" name="csrf-token" value="{{csrf-token}}"/>
    <p class="submit"><input type="submit" value="Resend"/></p>
</form>

<p>If, after resending multiple times, you are still not receiving the
confirmation email, click the button below to send an error report to the
administrator.</p>

<form action="/feedback" method="POST">
  <input type="hidden" name="uni" value="{{uni}}"/>
  <input type="hidden" name="message" value="Not getting confirmation email."/>
  <p class="submit"><input type="submit" value="Send Error Report"/></p>
</form>

{% endblock %}
