body {
  background-color: #C4D8E2;
}

h1 {
  text-align: center;
}

#error-message {
  color: #f00;
}

#content {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
  padding: 10px;
  height: 100%;
}

input.uni {
  width: 100px;
}

input.message {
  width: 400px;
}

#submit-button {
  text-align: center;
}

#submit-button input {
  width: 100px;
  height: 30px;
}

#invite-form {
  padding: 5px;
  border: 1px solid #aaa;
}
